/* HOME PAGE */
.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.home-container {
  text-align: center;
}

.home-buttons {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  background: white;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.home-card:hover {
  transform: translateY(-5px);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* HEADER */
.header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

select {
  padding: 6px 10px;
  font-size: 14px;
}

.timer {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

/* MAIN */
.main {
  display: flex;
  height: calc(100vh - 120px);
}

/* LEFT */
.left-panel {
  width: 55%;
  background: white;
  border-right: 1px solid #ddd;
}

.left-panel iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* RIGHT */
.right-panel {
  width: 45%;
  padding: 20px;
  overflow-y: auto;
  background: #fafafa;
}

.instruction-box {
  background: #d32f2f;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* FOOTER NAV */
.footer-nav {
  height: 60px;
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}